body {
    margin: 0;
    padding: 1rem;
}

.masonry-with-columns {
    columns: 6 210px;
}
.masonry-with-columns div.mansory-item {
    margin: 0 1rem 1rem 0;
    display: inline-block;
    width: 100%;
}

.masonry-with-columns div.mansory-item:last-child {
    height: 100%;
}
#navbarSupportedContent ul.navbar-nav li.nav-item.dropdown.f-bl.show {
    position: initial;
}

.dropdown-menu {
    width: auto;
}


