<div>
    <x-customer-layout>
        <div class="view-cart-sec">
            <div class="view-cart-note">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <p> <span>Check out to earn Zappos VIP points worth up to</span> <b>$1.20</b>  <span>in VIP codes.</span> <a href="#">Join today to start earning!</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="continue-shoping-sec">
                <div class="container">
                    <div class="row">
                        <div class="col-4">
                            <div class="cs-box">
                                <div class="cs-img">
                                    <img src="https://www.zappos.com/marty-assets/free-shipping.bd37fd1231ea350ba2156bfeec892126.svg">
                                </div>
                                <div class="cs-content">
                                    <h5 class="h5">Free Shipping and Returns</h5>
                                    <p>365 days to return item for refunds</p>
                                    <a href="#" class="site-link-btn">Shipping and Return policy <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="cs-box">
                                <div class="cs-img">
                                    <img src="https://www.zappos.com/marty-assets/privacy-policy.d2b80998a1464b26da8b58e4f78f2b0b.svg">
                                </div>
                                <div class="cs-content">
                                    <h5 class="h5">Free Shipping and Returns</h5>
                                    <p>365 days to return item for refunds</p>
                                    <a href="#" class="site-link-btn">Shipping and Return policy <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="cs-box">
                                <div class="cs-img">
                                    <img src="https://m.media-amazon.com/images/G/01/zappos/cart/prime_card_cart_icon._CB1555359435_.svg">
                                </div>
                                <div class="cs-content">
                                    <h5 class="h5">Free Shipping and Returns</h5>
                                    <p>365 days to return item for refunds</p>
                                    <a href="#" class="site-link-btn">Shipping and Return policy <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </x-customer-layout>
</div>

        